adf/pipelines/pl_ingest_orders.json
{
  "name": "pl_ingest_orders",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "Lands the daily orders extract from the landing container into the raw zone. Checks the file exists and is non-empty before copying, so a missing upstream drop fails loudly instead of silently producing an empty downstream run.",
    "parameters": {
      "ingestionDate": { "type": "string" }
    },
    "activities": [
      {
        "name": "CheckOrdersFileExists",
        "type": "GetMetadata",
        "typeProperties": {
          "dataset": { "referenceName": "ds_Landing_Orders", "type": "DatasetReference" },
          "fieldList": ["exists", "size"]
        }
      },
      {
        "name": "FailIfMissingOrEmpty",
        "type": "IfCondition",
        "dependsOn": [{ "activity": "CheckOrdersFileExists", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "expression": {
            "value": "@or(equals(activity('CheckOrdersFileExists').output.exists, false), equals(activity('CheckOrdersFileExists').output.size, 0))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "RaiseMissingFileError",
              "type": "Fail",
              "typeProperties": {
                "message": "Orders extract for @{pipeline().parameters.ingestionDate} is missing or empty.",
                "errorCode": "OrdersFileMissing"
              }
            }
          ]
        }
      },
      {
        "name": "CopyOrdersToRaw",
        "type": "Copy",
        "dependsOn": [{ "activity": "FailIfMissingOrEmpty", "dependencyConditions": ["Succeeded"] }],
        "inputs": [{ "referenceName": "ds_Landing_Orders", "type": "DatasetReference" }],
        "outputs": [
          {
            "referenceName": "ds_ADLS_Raw_Generic",
            "type": "DatasetReference",
            "parameters": {
              "fileSystem": "raw",
              "fileName": "orders_raw.csv"
            }
          }
        ],
        "typeProperties": {
          "source": { "type": "DelimitedTextSource" },
          "sink": { "type": "DelimitedTextSink" },
          "enableSkipIncompatibleRow": false,
          "logSettings": {
            "enableCopyActivityLog": true,
            "copyActivityLogSettings": { "logLevel": "Warning" }
          }
        }
      }
    ]
  }
}
